<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <div align="right"><div id="google_translate_element"></div></div>

    <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
    }
    </script>
    
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <style>
        * {
            box-sizing: border-box;
          }
        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
          }
          
          
          .row::after {
            content: "";
            clear: both;
            display: table;
          }
          .row {
            display: flex;
          }
          
          .column {
            flex: 33.33%;
            padding: 5px;
          }
    </style>
</head>
<body>
    <marquee scrollamount="14">
        <h1 style="font-size: 70px;color:rgb(255, 85, 0)">
            WARNING : POSSIBILITIES OF FLOOD
        </h1>
    </marquee>
    <main>
        <p style="font-size: 30px;">
            <b style="font-size: 40px;">
            Due to excessive Rainfall in your area there are the chances of flood in river Ganga.
            <br>
            </b>
            <h1 style="font-size: 25px;">SOME OF THE REASONS ARE:</h1>
            <ul style="font-size: 25px;"><li>Due to blockage of Drainage System.</li>
                <li>Increase in water level of river Ganga.</li>
                <li>Since, the DAMS are being opened 
                    There may be the intrusion of water in your area.</li>
            </ul>

            <h1 style="font-size: 25px;">SAFETY MEASURES:</h1>
            <ul style="font-size: 22px;">
                <li>Don’t drive in or through flooded areas or standing water<br>
                    —cars or other vehicles won’t protect you from floodwaters. </li>
                <li>Do not drink flood water, or use it to wash dishes, brush teeth, or wash or prepare food. <br>
                    Drink clean, safe water.</li>
                <li>If you evacuated, return to your home only after local authorities have said it is safe to <br>
                    do so.</li>
            </ul>
          </p>


        <div class="row">
            <div class="column">
              <img src="{{url_for('static',filename='OIP.jpeg')}}" alt="Flood" style="width:100%" />
            </div>
            <div class="column">
              <img src="{{url_for('static',filename='OIPP.jpeg')}}" alt="Flood" style="width:100%" />
            </div>
            <div class="column">
              <img src="{{url_for('static',filename='OIPPP.jpeg')}}" alt="Flood" style="width:100%" />
            </div>
          </div>
          
        </main>
        <footer>
            <br>
            <b style="font-size: 30px;">Government has also made a website for disaster management</b>
            <a href="https://ndma.gov.in/about-us/contact-us" target="_blank" style="font-size: 30px;">Contact NDMA</a>
        </footer>
    
</body>
</html>