<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <div align="right"><div id="google_translate_element"></div></div>

    <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
    }
    </script>
    
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <style>
        * {
            box-sizing: border-box;
          }
        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
          }
          
        
          .row::after {
            content: "";
            clear: both;
            display: table;
          }
          .row {
            display: flex;
          }
          
          .column {
            flex: 33.33%;
            padding: 5px;
          }
    </style>
</head>
<body>
    <marquee scrollamount="14">
        <h1 style="font-size: 70px;color:rgb(220, 245, 33)">
            NO POSSIBILITIES OF FLOOD
        </h1>
    </marquee>
    <p style="font-size: 50px">
        <b>You can rest because your region is safe</b>
    </p>
    <main>
        


        <div class="row">
            <div class="column">
              <img src="{{url_for('static',filename='rest1.jpg')}}" alt="Don't Worry" style="width:100%">
            </div>
            <div class="column">
              <img src="{{url_for('static',filename='rest2.jpg')}}" alt="Don't Worry" style="width:100%">
            </div>
            <div class="column">
              <img src="{{url_for('static',filename='rest3.jpg')}}" alt="Don't Worry" style="width:100%">
            </div>
          </div>
          
        </main>
        <footer>
            <br>
            <b style="font-size: 30px;">For More Information Government has also made a website for disaster management</b>
            <a href="https://ndma.gov.in/about-us/contact-us" target="_blank" style="font-size: 30px;">Contact NDMA</a>
        </footer>
    
</body>
</html>