<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calamity Guard</title>
    <link rel="stylesheet" href="static/interfacestyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<div align="right"><div id="google_translate_element"></div></div>

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }
      </script>
    
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</head>
<body>
    <div class="wrapper">
        <div class="top-bar">
            <div class="logo">
                <img src="static/logo.png" alt="">
                <h1>Calamity Guard</h1>
            </div>
        <div class="menu-bar">
            <ul>
                <li class="active">Home</li>
                <li>Services</li>
                <li>Blog</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="search-box">
            <div class="input-search">
                <input type="text" placeholder="Search">
                <div class="search-icon">
                    <span><i class="fa-solid fa-magnifying-glass"></i></span>
                </div>

            </div>
        </div>
        </div>
        <div class="hero">
            <div class="hero-text">
        <h1>Calamity detection helps identify and respond to disasters </h1>
                <p>Calamity detection is a critical aspect of disaster management,and
                   enabling the early identification and assesment of potential natural or man made disasters such as earthquake, flood, wildfires or imaginery, and AI driven analytics</p>
                <span><img src="static/playy.png" class="play-btn" alt="">Watch video</span>
            </div>
            <div class="hero-banner">
                <img src="static/meteorology-abstract-concept-vector-illustration-met-station-meteorology-program-university-degree-weather-prediction-method-measuring-instruments-atmosphere-study-abstract-metaphor.png" alt="">
            </div>
            <div class="visual">
            <video autoplay loop muted src="static/videoplayback (online-video-cutter.com).mp4"controls height="140px"></video>

            </div>
            
        </div>
            
        <small><b>Explore More</b><b>Trending</b></small>
        <div class="signup-box"><i class="fa-solid fa-user-plus"></i></div>
        <ul class="social">
            <li><a href="#"><span>Facebook</span><span><i class="fa-brands fa-facebook-f"></i></span></a></li>
            
            <li><a href="#"><span>Instagram</span><span><i class="fa-brands fa-instagram"></i></span></a></li>
            
            <li><a href="#"><span>Twitter</span><span><i class="fa-brands fa-twitter"></i></span></a></li>
            
            <li><a href="#"><span>Github</span><span><i class="fa-brands fa-github"></i></span></a></li>
            
            <li><a href="#"><span>linkedin</span><span><i class="fa-brands fa-linkedin-in"></i></span></a></li>
        </ul>
        <div class="services"><span>Services</span></div>
       <div class="card-container">

            <div class="card">
                <img src="static/WhatsApp Image 2024-08-28 at 8.52.58 PM.jpeg" alt="">
                <div class="card-content">
                    <h3>Earthquake</h3>
                    <p>Estimate the likelihood of an earthquake by analyzing your city's geographic coordinates, providing a basic prediction based on location data."</p>
                        <a href="/homepage1" class="btn">Click here</a>
                </div>
            </div> 
                <div class="card">
                    <img src="static/WhatsApp Image 2024-08-28 at 10.45.31 PM.jpeg" alt="">
                    <div class="card-content">
                        <h3>Flood</h3>
                        <p>Predict flood risks by analyzing real-time data on rainfall, river levels, and terrain, providing early alerts to help protect your community</p>
                            <a href="/homepage2" class="btn">Click Here</a>
                    </div>
                </div> 
                    <div class="card">
                        <img src="static/WhatsApp Image 2024-08-28 at 10.46.58 PM.jpeg" alt="">
                        <div class="card-content">
                            <h3>Cloudburst</h3>
                            <p>Stay ahead of sudden downpours with our precise cloudburst forecasts and real time cloudburst alerts and get guidlines for it. </p>
                                <a href="/homepage3" class="btn">Click here</a>
                        </div>
                    </div>  
                    <div class="card">
                        <img src="static/WhatsApp Image 2024-08-28 at 10.47.53 PM.jpeg" alt="">
                        <div class="card-content">
                            <h3>Meteor Site</h3>
                            <p>Estimate the likelihood of an earthquake by analyzing your city's geographic coordinates, providing a basic prediction based on location data." </p>
                                <a href="/homepage4" class="btn">Click Here</a>
                        </div>
                    </div>  
                    <div class="card">
                        <img src="static/WhatsApp Image 2024-08-28 at 10.48.44 PM.jpeg" alt="">
                        <div class="card-content">
                            <h3>Tsunami</h3>
                            <p> Predict tsunami risks by analyzing factors like sea level, geographic location, and rainfall, providing early warnings to help safeguard coastal areas.</p>
                                <a href="/homepage5" class="btn">Click here</a>
                        </div>
                    </div>  
                    </div> 
                    <div class="cont">
                    <div class="heading">
                        <h1>About Us</h1>
                        <p>Transforming Data into Protection for a Better Future and Pioneering Precision in Calamity Prediction and Prevention</p>
                    </div>
                
                    <div class="container">
                        <section class="about">
                            <div class="about-image">
                                <img src="static/teamwork-concept-landing-page.png" alt="">
                            </div>
                            <div class="about-content">
                                <h2>Warm embrace in a cup</h2>
                                <p>Our mission is to harness the power of cutting-edge technology and expert analysis to predict and mitigate the impacts of natural and man-made calamities. Our goal is to provide accurate, timely, and actionable information that empowers individuals, businesses, and communities to prepare for and respond to emergencies effectively.</p>
                                    <a href="" class="read-more">Read More</a>
                            </div>
                        </section>
                    </div>
                    </div>
                  

                 
               
    </div>
</body>
</html>